.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.container {
  display: flex;
  flex-direction: column;
}
.title {
  text-align: center;
  margin-block: 1em 0;
  font-size: 1.5em;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 1.5em;
  width: 100%;
  max-width: 320px;
  margin: 1em;
  transition: scale 0.3s ease-in-out;
}

.product:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.product img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 1em;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header {
  margin-bottom: 0.5em;
}

.text {
  line-height: 1.5;
  font-size: 0.9em;
}

/* Responsive layout for tablets and desktops */
@media (min-width: 768px) {
  .title {
    font-size: 2em;
  }

  .text {
    font-size: 1em;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1400px;
  }
  .product img {
    max-width: 40%;
    margin-right: 20px;
  }
  .product {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    max-width: 100%;
  }
  .title {
    font-size: 2.5em;
  }
  .text {
    font-size: 1.1em;
  }
  .product img {
    margin-bottom: 0;
  }
}
