.wrapper {
  background-image: linear-gradient(to bottom, #bddafd85, #12294dba),
    url(../../images/background/zaluzje-47.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 89dvh;
}
.container {
  height: 100%;
  width: 90%;
  margin-inline: auto;
  padding-block: 3em;

  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;

  color: #fff;
}
.text {
  margin-top: 1em;
  color: var(--contrastColor);
}
.header {
  font-size: 1.5em;
  font-weight: 700;
}
.subHeader {
  font-size: 1.3em;
  text-align: center;
}
.text {
  font-size: 1.2em;
  text-align: center;
  max-width: 27ch;
}
@media (min-width: 993px) {
  .container {
    max-width: 1280px;
    align-items: start;
  }
  .header {
    font-size: 2.5em;
    max-width: 20ch;
  }
  .text {
    text-align: start;
  }
}
